doctype html
html(lang="en")
    head
        title="Spatial App"
        link(href="css/main.css", rel="stylesheet")
        link(href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css", rel="stylesheet")
        script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
        script(src="../components/spatial.js")
            
    body(ng-app="spatial" ng-controller="spatialctl" ng-class="{'scroll' : scroll}")
        header
            div#menu_wrapper
                a(href="" ng-click="navshow()")
                    image#menu(src="img/menu.png" style="height: 22px; margin-left: 2.2em; margin-top: .5em;")
            div#top_bar
                ul
                    li
                        a(href="#") Sign in
        include sidebar
        block content
