<!DOCTYPE html>
<html>
  <head>
    <script>
      function valid() {
        var x = document.forms["loginForm"]["username"].value;
        var y = document.forms["loginForm"]["password"].value;
        for (i = 0, i < x.length, i++) {
          if (x[i] == '#' || x[i] == '&' || x[i] == '.') {
            txt = "Can't use #, &, . in username";
          document.getElementById("validResult").innerHTML = txt;
          }
        }
        
        if (y.length > 10) {
          txt = "Password must be less than 10 characters";
          document.getElementById("validResult2").innerHTML = txt;
        }
      }
    </script>
  </head>
  <body>
    <form name="loginForm" action="/login" onsubmit="return valid()" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Submit" />
        <p id="validResult"></p>
        <p id="validResult2"></p>
      </div>
    </form>
  </body>
</html>
