html {
	height: 100%;
}

body {
	margin: 0px;
	display: block;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
	color: #555;
	min-height: 25em;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
	position: relative;
	display: block;
	margin: auto;
}

header {
	display: block;
	position: fixed;
	height: 4em;
	width: 100%;
	min-width: 30em;
	border-bottom: 1px solid #CCC;
	box-shadow: 1px 1px 2px #888;
	background-color: rgba(255, 255, 255, .9);
	z-index: 20;
}

h1 {
	padding-top: 2.5em;
	padding-left: .5em;
	margin-top: 0;
}

#top_bar {
	display: block;
	position: relative;
	top: 40%;
	width: 100%;
	font-size: 1.1em;
}

#top_bar ul {
	display: inline-block;
	float: right;
	margin: 0px;
	padding-right: 40px;
	list-style: none;
}

#menu_wrapper {
	border-radius: 8px;
	float: left;
	position: relative;
	margin-left: 1.2em;
}

#menu {
	height: 40px;
	position: relative;
	display: block;
    padding-top: 1em;
}

#side_bar {
	position: relative;
	margin-left: -10em;
	padding-top: 4em;
	float: left;
	width:10em;
	height: 100%;
	overflow: visible;
	z-index: 5;
	background-color: white;
	transition-property: margin;
	transition-duration: .5s;
	border: 1px solid #EEE;
}

.side_box
{
	text-align: center;
	vertical-align: middle;
}

.side_box a
{
	height: 1em;
	width: 100%;
	display: inline-block;
	padding: 2em 0 2em 0;
	transition: background-color .5s ease;
}

.side_box img
{
}

.side_box span
{
	padding: 1em;
}

.side_box a:hover {
	background-color: rgba(190, 190, 190, 0.75);
}

.shownav
{
	margin-left: 0!important;
}

#content {
	margin: 0px;
	position: relative;
	height: 100%;
}

#banner {
	position: absolute;
        top: 58%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
	width: 25em;
	text-align: center;
	line-height: 3em;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
}

#banner h1 {
	text-shadow: 2px 2px rgba(27, 27, 27, 0.66);
}

#banner .button {
	width: 7.5em;
	background: rgba(51,51,51,.55);
	color: white;
	margin: auto;
	border-radius: 4px;
	font-size: .8em;
	font-size: 1.25em;
}

#banner .button a {
	padding: .5em 0em .5em 0em;
}

form
{
	position: absolute;
	font-size: 2.3em;
	text-align: center;
	padding: .8em;
	min-width: 10em;
	max-width: 20em;
	z-index: -1;
	opacity: 0;
	top: 54%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255,255,255,.75);
    transition-property: opacity;
	transition-duration: 3s;
}

#list
{
	padding-top: 5em;
	background: white;
}

#list h2
{
	text-align: center;
}

#list span
{
	text-align: center;
	display: block;
}

#events_wrapper
{
	margin: 4em;
}

#events_wrapper span
{
	text-align: left;
}

.event
{
	margin: 2em;
	padding: 0 2em 0 2em;
}

#search
{
	width: 0;
	opacity: 0;
}

.showsearch
{
	z-index: 10;
	opacity: 1;
}

.scroll
{
	overflow: scroll;
}

.temp
{
	opacity: .80;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
